<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373057559625-0fqvstdq62a99cmcn4s9fadva9cfbe75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373057559625-0fqvstdq62a99cmcn4s9fadva9cfbe75</string>
	<key>API_KEY</key>
	<string>AIzaSyDnt8-DkYrEFHKtzZ6tybJgStv9Wj6fav8</string>
	<key>GCM_SENDER_ID</key>
	<string>373057559625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blu.BluGithubClient</string>
	<key>PROJECT_ID</key>
	<string>blu-github-client</string>
	<key>STORAGE_BUCKET</key>
	<string>blu-github-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:373057559625:ios:693885954ea39d51557398</string>
	<key>DATABASE_URL</key>
	<string>https://blu-github-client.firebaseio.com</string>
</dict>
</plist>
